name: CI - Tests and Lint

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches:
      - 'main'
      - 'dev'

jobs:
  python-lint:
    name: Lint Python with pylint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies with uv
        uses: ./.github/actions/uv-install-dev
        with:
          python-version: ${{ matrix.python-version }}

      - name: python version
        run: uv run python --version
        
      - name: Run pylint
        run: uv run pylint app.py

      - name: debug test
        run: cat status.txt

  docker-integration-test:
    name: Docker Integration Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies with uv
        uses: ./.github/actions/uv-install-dev
        
      - name: Build Docker image
        run: docker build -t flask-test .

      - name: Run Docker container
        run: docker run -d -p 5000:5000 --name flask-app flask-test

      - name: Sleep
        uses: jakejarvis/wait-action@master
        with:
          time: '1s'

      - name: Run pytest
        run: uv run pytest

      - name: Stop container
        if: always()
        run: docker rm -f flask-app
