name: Helm Chart CI/CD

on:
  push:
    branches:
      - '**'  # all branches

jobs:
  test:
    name: CI - Python Lint (pylint)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync --dev

      - name: Run pylint
        run: uv run pylint app.py

  publish:
    name: CD - Publish Helm Chart
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'  # only run when on main branch

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.11.2'

      - name: Package chart
        run: |
          helm package amitchart
          mkdir -p repo
          mv *.tgz repo/
          helm repo index repo/ --url https://amithauzer.github.io/helm-phase-3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./repo
          publish_branch: gh-pages
